primary {
    paper:  #fff1e5;
    black:  #000000;
    white:  #ffffff;
    claret: #990f3d;
    oxford: #0f5499;
    teal:   #0d7680;
}

secondary {
    wheat:    #f2dfce;
    sky:      #cce6ff;
    slate:    #262a33;
    velvet:   #593380;
    mandarin: #ff8833;
    lemon:    #ffec1a;
}

tertiary {
    jade:    #00994d;
    wasabi:  #96cc28;
    crimson: #cc0000;
    candy:   #ff7faa;
}

b2c {
    org-b2c:       #4e96eb;
    org-b2c-dark:  #3a70af;
    org-b2c-light: #99c6fb;
}
